* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15rem;
    background-image: url('../img/geometric.jpg');
    background-position:center top;
    background: #505357 no-repeat 50%;
}

header > ul > li > a {
    text-decoration: underline;
}

#primary-nav, #secondary-nav {
    list-style: none;
    display: grid;
    color: white;
}

#primary-nav {
    grid-template-columns: 70px 70px 70px;
}

#secondary-nav {
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    grid-column-start: -1;
    grid-template-columns: 30px 30px 30px 30px 30px;
}
pre {
    margin: 50px;
    font-display: monospace;
}

svg {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
}
