* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: "Roboto", sans-serif;
}
body {
    background-color: lightgrey;
}
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

header {
	display: grid;
	height: 18rem;
	background-image: linear-gradient(
		rgba(87, 81, 81, 0.5),
		rgba(66, 60, 60, 0.5)
	),
	url("../img/geometric.jpg");
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "primary-nav . secondary-nav" ". branding .";
}

ul#primary-nav li,
ul#secondary-nav li {
	list-style: none;
	color: lightgrey;
	display: inline;
	margin: 5px;
}

#primary-nav {
	grid-area: primary-nav;
}

#secondary-nav {
	grid-area: secondary-nav;
	display: flex;
	justify-self: right;
}

#branding {
	grid-area: branding;
	display: grid;
	justify-content: center;
	color: darkgrey;
}

ul#primary-nav a:hover {
	text-decoration: underline;
}
svg {
	-webkit-filter: invert(75%); /* safari 6.0 - 9.0 */
	filter: invert(75%);
}
pre, code {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
pre {
  padding: 1em;
  border: black;
}

.list-page > div {
  background: #eee;
  padding: 1em;
}
.list-page {
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 20%;
	margin-right: 20%;
	gap: 2rem;
}
.blog-post {
	display: grid;
	overflow: hidden;
	margin-left: 20%;
	margin-right: 20%;
}
footer {
	position: fixed;
	bottom: 0;
	display: none;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "site-copyright credits";
}
footer > a {
	grid-area: site-copyright;
	display: none;
}
footer > p {
	grid-area: credits;
	display: none;
}
@media only screen and (max-width: 900px) {
	.list-page {
		display: grid;
		grid-template-columns: 1fr;
	}
	.list-page {
		margin: auto;
	}

	.blog-post {
		margin: auto;
	}
}
