* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    display: grid;
    height: 15rem;
    background-image: linear-gradient(rgba(87, 81, 81, 0.5), rgba(66, 60, 60, 0.5)), url('../img/geometric.jpg');
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "primary-nav . secondary-nav" ". branding .";
}

ul#primary-nav li, ul#secondary-nav li{
    list-style: none;
    color: lightgrey;
    display: inline;
    margin: 5px;
}

#primary-nav{
    grid-area: primary-nav;
}

#secondary-nav{
    display: flex;
    justify-content: flex-end;
    grid-area: secondary-nav;
}

#branding {
    grid-area: branding;
    display: grid;
    justify-content: center;
    color: lightgrey;
}

ul#primary-nav a:hover {
    text-decoration: underline;
}
svg {
    -webkit-filter: invert(75%); /* safari 6.0 - 9.0 */
    filter: invert(75%);
}
pre {
    margin: 50px;
    font-display: monospace;
}

.list-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
