{{ define "main" }}
<div class="wrapper">
<main class="list-page">
	{{ if .IsHome}}
		{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
		{{ range $index, $element := $pages }}
		<div>
			{{- partial "post-card.html" (dict "context" . "index" $index ) -}}
		</div>
		{{ end }}
	{{ else }}
		{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
		{{ range $index, $element := .Pages }}
		<div>
			{{- partial "post-card.html" (dict "context" . "index" $index ) -}}
		</div>
		{{ end }}
	{{ end }}
</main>
</div>
{{ end }}
